<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admin1</servlet-name>
        <servlet-class>Admin1.Admin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortaldata</servlet-name>
        <servlet-class>AdminPortaldata.AdminPortaldata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAdmin</servlet-name>
        <servlet-class>SaveAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saved</servlet-name>
        <servlet-class>Saved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdmin</servlet-name>
        <servlet-class>DeleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewList</servlet-name>
        <servlet-class>ViewList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRecord</servlet-name>
        <servlet-class>CheckRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Record</servlet-name>
        <servlet-class>Record</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedRecord</servlet-name>
        <servlet-class>SavedRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <servlet-class>ViewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeDue</servlet-name>
        <servlet-class>FeeDue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit1</servlet-name>
        <servlet-class>Edit1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit2</servlet-name>
        <servlet-class>Edit2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit0</servlet-name>
        <servlet-class>Edit0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete1</servlet-name>
        <servlet-class>Delete1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin1</servlet-name>
        <url-pattern>/Admin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortaldata</servlet-name>
        <url-pattern>/AdminPortaldata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAdmin</servlet-name>
        <url-pattern>/SaveAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saved</servlet-name>
        <url-pattern>/Saved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdmin</servlet-name>
        <url-pattern>/DeleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewList</servlet-name>
        <url-pattern>/ViewList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRecord</servlet-name>
        <url-pattern>/CheckRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Record</servlet-name>
        <url-pattern>/Record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedRecord</servlet-name>
        <url-pattern>/SavedRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudent</servlet-name>
        <url-pattern>/ViewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeDue</servlet-name>
        <url-pattern>/FeeDue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit1</servlet-name>
        <url-pattern>/Edit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit2</servlet-name>
        <url-pattern>/Edit2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit0</servlet-name>
        <url-pattern>/Edit0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete1</servlet-name>
        <url-pattern>/Delete1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
